// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Open+Sans:wght@400;500;600&family=Rubik:wght@400;500;600;700&display=swap');

// =============================================================================================================================================================

/*Обнуление*/
*,*::before,*::after {padding: 0;margin: 0;border: 0;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active {outline: none;}
a:focus,a:active {outline: none;}
nav,footer,header,aside {display: block;}
html,body { min-height: 100%;width: 100%;font-size: 100%;line-height: 1;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button {font-weight: inherit;font-size: inherit;color: inherit;}
textarea {resize: none;}
input,button,textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;background-color: inherit;}
button::-moz-focus-inner {padding: 0;border: 0;}
a {color: inherit;cursor: pointer;}
a,a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul,ol,li {list-style: none;}
img {vertical-align: top;}
h1,h2,h3,h4,h5,
h6 {font-size: inherit;font-weight: inherit;}




body {
	position: relative;
	left: 0;
	top: 0;
	overflow-x: hidden;
	color: #232321;
	padding-top: 26px;
	font-family: 'Open Sans';
	font-weight: 600;
	background:#E7E7E3;

	@media(max-width: 940.98px) {
		padding-top: 19px;
	}
	@media(max-width: 767.98px) {
		padding-top: 13px;
	}
	@media(max-width: 430.98px) {
		padding-top: 9px;
	}
}

body.scroll-lock {
	overflow: hidden;
}

body.lock {
	overflow: hidden;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#root main {
	min-height: 100vh;
	flex: 1 1 auto;
}

.admin-main {
	padding: calc(24px + 97px - 26px) 0 0 0;

	@media(max-width: 1023.98px) {
		padding: calc(24px + 85px - 26px) 0 0 0;
	}

	@media(max-width: 940.98px) {
		padding: calc(24px + 85px - 19px) 0 0 0;
	}

	@media(max-width: 767.98px) {
		padding: calc(24px + 77px - 13px) 0 0 0;
	}

	@media(max-width: 430.98px) {
		padding: calc(24px + 77px - 9px) 0 0 0;
	}

	@media(max-width: 400.98px) {
		padding: calc(20px + 65px - 9px) 0 0 0;
	}
}

.landing-page {
	padding-top: 24px;

	@media(max-width: 430.98px) {
		padding-top: 12px;
	}
}

.listing-page {
	padding-top: 80px;

	@media(max-width: 1023.98px) {
		padding-top: 60px;
	}

	@media(max-width: 767.98px) {
		padding-top: 40px;
	}

	@media(max-width: 500.98px) {
		padding-top: 24px;
	}
}

img {
	user-select: none;
}

.product-page {
	padding: 32px 0 0 0;

	@media(max-width: 500.98px) {
		padding: 24px 0 0 0;
	}
}

.auth-page {
	padding: 32px 0 calc(65px - 45px) 0;

	@media(max-width: 1023.98px) {
		padding: 32px 0 calc(50px - 45px) 0;
	}

	@media(max-width: 767.98px) {
		padding: 24px 0 0 0;
	}

	@media(max-width: 500.98px) {
		padding: 24px 0 calc(30px - 20px) 0;
	}
}
